body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.parte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
    width: 45%;
}

#linhaMeio {
    background-color: #000000;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(3, 3, 3);
    font-weight: bold;
    font-size: 2em;
}

h2 {
    margin: 10px 0;
    font-size: 1em;
    text-align: center;
}

button {
    padding: 15px 25px;
    font-size: 1em;
    background-color: #000000;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

button:active {
    background-color: #000000;
    transform: translateY(0);
}