@charset "utf-8";

:root {
    --color-index: #8a2be2;
    --txt-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-index);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: sans-serif;
}

h2 {
    color: var(--txt-color);
    font-weight: 200;
    margin-bottom: 20px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background: transparent;
    border: 2px solid var(--txt-color);
    color: var(--txt-color);
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; 
    /* Ajustado para diminuir a letra */
    font-weight: bold;
}

button:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
    transition: 0.1s;
}